<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read-Blog</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body style=" background-color: rgb(230, 229, 229);">
<div class="container w-100 border bg-white mt-5 p-3 mx-auto">
    <h2 class="text-primary"><%= item.title %></h2>
    <h5>By: <%= item.name %></h5>
    <h5 class="">Contact us: <%= item.email %></h5>
</div>   
<div class="container border bg-white mt-3 p-3">
    <p><%= item.text %></p>
</div>
<div class="container w-100  bg-white mt-3 p-3 d-flex">
    
    <div class="card mx-2" style="width: 17rem;height: 15rem; background-image: url('<%= item.photo[0] %>') ;background-position: center;background-size: cover;">
        <div class="card-body">
        </div>
      </div>
      <div class="card mx-2" style="width: 17rem; background-image: url('<%= item.photo[1] %>') ;background-position: center;background-size: cover;">
        <div class="card-body">
        </div>
      </div>
      <div class="card mx-2" style="width: 17rem; background-image: url('<%= item.photo[2] %>') ;background-position: center;background-size: cover;" >
        <div class="card-body">
        </div>
      </div>
      <div class="card mx-2" style="width: 17rem; background-image: url('<%= item.photo[3] %>') ;background-position: center;background-size: cover;">
        <div class="card-body">
        </div>
      </div>
</div>
</body>
</html>